.navbar-inverse {
  opacity: 0.80px;

}
.fa-book{
font-size: 30px;
}
.navbarlinks{
font-size: 20px;
padding: 0 400px;
}

#homepage{
  background: url("https://images.pexels.com/photos/300412/pexels-photo-300412.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
height: 700px;
}
 .fa-cart-plus{
font-size: 27px;
}
.box{
  height: 200px;
  width: 500px;

  margin-top: 300px;
  display: inline-table;
  text-align: center;
  margin-left: 390px;
}
.btn-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
color: black;
    height: 30px;
}
.btn{
  background:#337ab7;
      border: 1px solid transparent;
    margin-bottom: 20px;
      border-radius: 4px;
}
.btn:hover, .btn2:hover{
  background:white;
}

.btn2{
    background: #ddd;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-title2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
color: black;
    height: 30px;
}
.input-group{
  margin-top: 30px;
}
.dropbtn {
    background-color:white;
    color: black;
    padding: 16px;
    font-size: 16px;
      min-width: 160px;
      border: none;
    border-radius:3px;
    cursor: pointer;
}

.aboutus{
text-align: justify;
margin: 0 60px;
margin-top:30px;
font-size:15px;
}
.footsocial{
  margin-top:15px;
  font-size: 25px;
  color: grey;
}
.fa-youtube-square:hover
{
  color: #cc181e;
}
.fa-facebook-official:hover{
color: #3b5998;
}
.fa-linkedin-square:hover{
color:  #0077B5;
}
.contactus{
  color: grey;
  float: right;
}
#Aboutus{
  margin-bottom: 200px;
}
#howitworks{
  margin: 120px;
}
img{
  width:450px;
  height: 350px;
   z-index:-1;


}
.sell{
  margin-left: 100px;
}

h1{
text-align:center;
 margin:60px 0px;
color:#337ab7;
}
.buybutton, .sellbutton{
  margin-left: 190px;
  width:70px;
  height:40px;
  font-size: 20px;
 z-index:100;
 display: inline-block;
position: absolute;
margin-top: 180px;
}
