.navbar-inverse {
  opacity: 0.80px;

}
.fa-book{
font-size: 30px;
}
.navbarlinks{
font-size: 20px;
padding: 0 400px;
}

#homepage{
  background: url("https://images.pexels.com/photos/300412/pexels-photo-300412.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
height: 1000px;
}
 .fa-cart-plus{
font-size: 27px;
}
.box{
  height: 200px;
  width: 500px;

  margin-top: 300px;
  display: inline-table;
  text-align: center;
  margin-left: 390px;
}
.btn-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
color: black;
    height: 30px;
}
.btn{
  background:#337ab7;
      border: 1px solid transparent;
    margin-bottom: 20px;
      border-radius: 4px;
}
.btn:hover, .btn2:hover{
  background:white;
}

.btn2{
    background: #ddd;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-title2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
color: black;
    height: 30px;
}
.input-group{
  margin-top: 30px;
}
.dropbtn {
    background-color:white;
    color: black;
    padding: 16px;
    font-size: 16px;
      min-width: 160px;
      border: none;
    border-radius:3px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:relative;;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #337ab7;
}
